@font-face {
    font-family: "Inter Variable";
    src: url("../public/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("../public/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

:root {
    --font: "Inter Variable";
    --secondaryFont: "Newsreader";
    --bg: #f8f7f5;
    --selection: #197439;
    --accent: #197439;
    --text: #272727;
    --fs-10: 0.625rem;
    --fs-12: 0.75rem;
    --fs-13: 0.8125rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--selection);
    color: #fff;
}

html,
body {
    font-family: var(--font);
    font-optical-sizing: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-variant-numeric: tabular-nums;
    -webkit-text-size-adjust: 100%;
    background-color: var(--bg);
    width: 100%;
    height: 100%;
}
