@font-face {
    font-family: "Inter Variable";
    src: url("../public/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("../public/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

:root {
    --font: "Inter Variable";
    --secondaryFont: "Jetbrains Mono";
    --bg: #f8f7f5;
    --text: #272727;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: var(--font);
    font-optical-sizing: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-variant-numeric: tabular-nums;
    -webkit-text-size-adjust: 100%;
    background-color: var(--bg);
    width: 100%;
    height: 100%;
}
